.ff0_70725_12{font-family:sans-serif;visibility:hidden;}
.m0_70725_12{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0_70725_12{vertical-align:0.000000px;}
.ls0_70725_12{letter-spacing:0.000000px;}
.sc__70725_12{text-shadow:none;}
.sc0_70725_12{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc__70725_12{-webkit-text-stroke:0px transparent;}
.sc0_70725_12{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0_70725_12{word-spacing:0.000000px;}
._2_70725_12{margin-left:-6.100800px;}
._3_70725_12{margin-left:-3.336800px;}
._1_70725_12{margin-left:-2.191200px;}
._0_70725_12{margin-left:-1.104400px;}
.fc0_70725_12{color:rgb(40,66,150);}
.fs0_70725_12{font-size:44.000000px;}
.fs1_70725_12{font-size:48.000000px;}
.y3_70725_12{bottom:20.691000px;}
.y2_70725_12{bottom:33.891000px;}
.y1_70725_12{bottom:47.091000px;}
.y4_70725_12{bottom:75.519600px;}
.y0_70725_12{bottom:102.255319px;}
.h2_70725_12{height:35.112000px;}
.h3_70725_12{height:38.304000px;}
.h1_70725_12{height:290.297872px;}
.h0_70725_12{height:396.000000px;}
.w0_70725_12{width:612.000000px;}
.x0_70725_12{left:0.000000px;}
.x9_70725_12{left:61.526100px;}
.x2_70725_12{left:98.189700px;}
.x1_70725_12{left:135.303700px;}
.x4_70725_12{left:274.981700px;}
.x3_70725_12{left:280.646700px;}
.x5_70725_12{left:286.443700px;}
.x7_70725_12{left:399.314700px;}
.x6_70725_12{left:411.997700px;}
.x8_70725_12{left:414.032700px;}
