<div class="webpub-action-bar">

  <div class="webpub-action-bar__item webpub-action-bar__item-left" data-filter-bookmarks="sharedBy">
    <span class="webpub-share-icon webpub-share-icon-circle">{{iconPlugin('circle-v4','')}}</span>
    <span class="webpub-share-icon webpub-share-icon-checked">{{iconPlugin('checked-v4','')}}</span>
    {{itemLeftText}}
  </div>

    <div class="webpub-action-bar__item webpub-action-bar__item webpub-action-bar__item-center" data-filter-bookmarks="favorite">
      <span class="webpub-share-icon webpub-share-icon-circle">{{iconPlugin('circle-v4','')}}</span>
      <span class="webpub-share-icon webpub-share-icon-checked">{{iconPlugin('checked-v4','')}}</span>
      {{itemRightText}}
    </div>

  <div class="webpub-action-bar__item-right webpub-action-bar__confirm" data-action="confirm">
    {{if w.Param.isPhone}}
      <span class="webpub-share-icon">{{iconPlugin('check','','#fff')}}</span>
    {{else}}
      {{localePlugin("confirm")}}
    {{/if}}
  </div>

</div>
