<div class="lightbox lightbox__type-{{id}}{{if header !== true}} lightbox__headerless{{/if}}" id="{{id}}">
  <div class="lightbox__header">
    <div class="lightbox__header-menu">
      {{webpublicationNamespace.Main.templateOldManager.plugins.icon('lightbox__header-icon dropdown', 'primary.actionColor')}}
    </div>
    <div class="lightbox__header-title text-big">{{title}}</div>
    <div class="lightbox__header-close">
      {{webpublicationNamespace.Main.templateOldManager.plugins.icon('lightbox__header-icon close', 'primary.actionColor')}}
    </div>
  </div>
  <div class="lightbox__content"></div>
</div>
