<a
  class="webpub-topnav-v4__type-{{name}} webpub-topnav-v4__item"
  data-section="item" data-menu="{{name}}"
  {{if label !=="" }}data-tooltip="{{label}}"{{/if}}
  {{exists alternativeIcon}}data-alternativeIcon="true"{{/exists}}
  {{exists alternativeLabel}}data-alternativeLabel="true"{{/exists}}
>
  {{if icon}}
    {{if icon.url}}
      <span class="webpub-topnav-v4__item-icon-url">
        <img class="webpub-topnav-v4__item-icon-url-image" src="{{icon.url}}" data-section="icon"
          data-icon="{{icon.url}}"
        />
      </span>
    {{else icon.text}}
      <!-- TODO:  manage the custom Text -->
    {{else}}
      <span class="webpub-topnav-v4__item-icon" data-section="icon">{{iconPlugin(icon + "-v4", "")}}</span>
    {{/if}}
  {{/if}}
  <span class="webpub-topnav-v4__item-badge" data-section="badge">{{badge}}</span>
</a>
