<div class="webpub-lightbox webpub-lightbox-theater webpub-lightbox--animation-{{animation}} webpub-lightbox-theater--header-{{header}}{{if priority}} webpub-lightbox-theater--priority-{{priority}}{{/if}}" data-action="overlay" id="webpub-lightbox-{{id}}">
<!--

YOU MUST ADD webpub-lightbox CLASS TO THE MAIN ELEMENT

Action bindable
  data-action="close"
  data-action="menu"
  data-action="overlay"
  data-section="content"
  data-section="header"
  data-section="iframe"
  data-section="title"

Attributes for the lightbox
  height
  width
  title
  priority
  animation
  header
  headerSpacer
  menuButton
  closeButton
  url
  html

-->
  <div class="webpub-lightbox-theater-header" data-section="header">
    {{if closeButton === true}}
      <div class="webpub-lightbox-theater-header-close-icon" data-action="close">{{localePlugin("close")}}</div>
    {{else closeButton}}
      <div data-section="right">{{closeButton}}</div>
    {{/if}}
  </div>
  <div class="webpub-lightbox-theater-content" data-action="overlay" data-animation="content">
    {{exists url}}
      <iframe class="webpub-lightbox-theater-content-url" src="{{url}}" data-section="iframe"
        {{exists height}}height="{{height}}"{{/exists}} {{exists width}}width="{{width}}"{{/exists}}
        style="{{exists height}}height:{{height}};{{/exists}}{{exists width}}width:{{width}};{{/exists}}"
      ></iframe>
    {{otherwise}}
      <div class="webpub-lightbox-theater-content-html" data-section="content"
        style="{{exists height}}height:{{height}};{{/exists}}{{exists width}}width:{{width}};{{/exists}}"
      ></div>
    {{/exists}}
  </div>
  <div class="webpub-lightbox-theater-footer{{if title}} webpub-lightbox-theater-footer--has-title{{/if}}" data-section="header">
    {{if title}}
      <div class="webpub-lightbox-theater-footer-title" data-section="title">{{title}}</div>
    {{/if}}
  </div>
</div>
