<div class="webpub-lightbox webpub-lightbox-modale webpub-lightbox--animation-{{animation}} webpub-lightbox-modale--header-{{header}}{{if priority}} webpub-lightbox-modale--priority-{{priority}}{{/if}}" data-action="overlay" id="webpub-lightbox-{{id}}">
<!--

YOU MUST ADD webpub-lightbox CLASS TO THE MAIN ELEMENT

Action bindable
  data-action="close"
  data-action="menu"
  data-action="overlay"
  data-section="content"
  data-section="header"
  data-section="iframe"
  data-section="title"

Attributes for the lightbox
  height
  width
  title
  priority
  animation
  header
  headerSpacer
  menuButton
  closeButton
  url
  html

-->
  <div class="webpub-lightbox-modale-content" data-animation="content"
    style="{{exists height}}{{if (height.indexOf('px') === -1)}}height:{{height}};{{/if}}{{/exists}}{{exists width}}{{if (width.indexOf('px') === -1)}}width:{{width}};{{/if}}{{/exists}}"
  >
    <div class="webpub-lightbox-modale-header{{if headerSpacer}} webpub-lightbox-modale--header-spacer{{/if}}" data-section="header">
      {{if title}}
        <div class="webpub-lightbox-modale-header-title" data-section="title">{{title}}</div>
      {{else}}
        <!-- Empty div to get benefit of the flex -->
        <div class="webpub-lightbox-modale-header-title" data-section="title"></div>
      {{/if}}
      {{if closeButton === true}}
        <div class="webpub-lightbox-modale-header-close-icon" data-action="close">{{iconPlugin("close-v4", "svgicon-v4")}}</div>
      {{else closeButton}}
        <div data-section="right">{{closeButton}}</div>
      {{/if}}
    </div>
    {{exists url}}
      <!-- onload attribute as a workarround of iOS bug that prevent the scroll -->
      <iframe class="webpub-lightbox-modale-content-url" src="{{url}}" data-section="iframe"
        {{exists height}}height="{{height}}"{{/exists}} {{exists width}}width="{{width}}"{{/exists}}
        style="{{exists height}}{{if (height.indexOf('px') > -1)}}height:{{height}};{{/if}}{{/exists}}{{exists width}}{{if (width.indexOf('px') > -1)}}width:{{width}};{{/if}}{{/exists}}"
      ></iframe>
    {{otherwise}}
      <div class="webpub-lightbox-modale-content-html" data-section="content"
        style="{{exists height}}{{if (height.indexOf('px') > -1)}}height:{{height}};{{/if}}{{/exists}}{{exists width}}{{if (width.indexOf('px') > -1)}}width:{{width}};{{/if}}{{/exists}}"
      ></div>
    {{/exists}}
  </div>
</div>
